
<!DOCTYPE html><html>
<head>
    <title>Stony internetowe + Ostro(w)NET</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"  href="/assets/style.css ">
</head>
<body>
    <header>
        <div class="wrapper">
                    <p class="headHeader"><strong>OstrowNET - Strony internetowe, grafika komputerowa, Hosting, Domeny, sklepy internetowe</strong></p>
        
                <nav>
            <ul class="menu menuH row">
                <li class="column"><h3><a href="/strony-www">Strony WWW <span>Tworzenie</span></a></h3></li>
                <li class="column"><h3><a href="/pozycjonowanie-i-seo">Pozycjonowanie <span>i <abbr title="Search Engine Optimization">SEO</abbr></span></a></h3></li>
                <li class="column"><h3><a href="/grafika-i-reklama">Grafika<span> i reklama</span></a></h3></li>
                <li class="column"><h3><a href="/kontakt">Kontakt<span>Napisz do nas</span></a></h3></li>
                <li class="column"><h3><a href="/o-nas">O nas <span>Czym się zajmujemy</span></a></h3></li>
            </ul>
        </nav>
                </div>
    </header>

    <section id="content">
    <div class="wrapper">
        <h1></h1>

        <article id="article">
        	{{ page.content }}
        </article>
    </div>
    </section>

    <footer class="footer">
        <div class="wrapper">

            <div class="row">
            <section class="column col1of3 linksGroup">
                <ul>
                    <li><a href="/strony-www">Strony internetowe</a></li>
                    <li><a href="/pozycjonowanie-i-seo">Pozycjonowanie (<abbr title="Search Engine Optimization">SEO</abbr>)</a></li>
                    <li><a href="/strony-www">Aplikacje internetowe</a></li>
                </ul>
            </section>

            <section class="column col1of3 linksGroup">
                <ul>
                    <li><a href="/strony-www">Sklepy internetowe</a></li>
                    <li><a href="/grafika-i-reklama">Reklama w internecie</a></li>
                    <li><a href="/grafika-i-reklama">Grafika</a></li>
                </ul>
            </section>

            <section class="column col1of3 linksGroup">
                <ul>
                    <li><a href="/kontakt">Hosting</a></li>
                    <li><a href="/kontakt">Domeny internetowe</a></li>
                </ul>
            </section>
            </div>

            <div class="footerInfo">
                <p class="fLeft copyrights">&copy; 2011 by <strong class="logo">Ostro<b class="lW">w</b><b class="lNet">NET</b></strong> <a class="sitemap" href="/sitemap">mapa strony</a></p>
                <p class="fRight company"><strong class="logo">Ostro<b class="lW">w</b><b class="lNet">NET</b></strong>, Ostrów Wielkopolski</p>
            </div>
        </div>
    </footer>

</body>
</html>
