<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Stony internetowe + Ostro(w)NET</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed&subset=latin-ext,latin">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <h1 class="headHeader"><strong><a href="/">OstrowNET - Strony internetowe, grafika komputerowa, Hosting, Domeny, sklepy internetowe</a></strong></h1>
            <nav>
                <ul class="menu menuH row">
                    {% assign pages = site.pages | sort: "inMenu"  %}
                    {% for p in pages %} {% if p.inMenu %}
                    <li class="column {% if page.id == p.id %}active{% endif %}">
                        <a href="{{ p.url }}">{{ p.link.name }}{% if p.link.sub %}<span> {{p.link.sub}}</span>{% endif %}</a>
                    </li>
                    {% endif %} {% endfor %}
                </ul>
            </nav>
        </div>
    </header>
    <section id="content">
        <div class="wrapper">
            <h1></h1>
            <article id="article">
                {{ content }}
            </article>
        </div>
    </section>
    <footer class="footer">
        <div class="wrapper">
            <div class="row">
                <section class="column col1of3 linksGroup">
                    <ul>
                        <li><a href="/strony-www">Strony internetowe</a></li>
                        <li><a href="/pozycjonowanie-i-seo">Pozycjonowanie (<abbr title="Search Engine Optimization">SEO</abbr>)</a></li>
                        <li><a href="/strony-www">Aplikacje internetowe</a></li>
                    </ul>
                </section>
                <section class="column col1of3 linksGroup">
                    <ul>
                        <li><a href="/strony-www">Sklepy internetowe</a></li>
                        <li><a href="/grafika-i-reklama">Reklama w internecie</a></li>
                        <li><a href="/grafika-i-reklama">Grafika</a></li>
                    </ul>
                </section>
                <section class="column col1of3 linksGroup">
                    <ul>
                        <li><a href="/kontakt">Hosting</a></li>
                        <li><a href="/kontakt">Domeny internetowe</a></li>
                    </ul>
                </section>
            </div>
            <div class="footerInfo">
                <p class="fCenter copyrights">&copy; {{ site.time | date: "%Y" }} by <strong class="logo">Ostro<b class="lW">w</b><b class="lNet">NET</b></strong>, Ostrów Wielkopolski</p>
            </div>
        </div>
    </footer>
</body>

</html>
